<h2>Currently available chatrooms:</h2>

<table>
  <thead>
  <tr>
    <th>Chatroom name:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @chatrooms.each do |chatroom| %>
      <tr>
        <td>
          <p>
            <%= chatroom.title %>
          </p>
        </td>

        <td><%= link_to 'Show', chatroom %></td>

        <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>

        <td><%= link_to 'Destroy', chatroom, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>

<br/>
<br/>
<br/>
<br/>

<h2>Pick your topic of interest:
</h2>

<br/>
<br/>

<div id="topics">
  <% @topics.each do |topic| %>
      <%= topic.name %> <%= link_to 'teach', new_taker_path(topic) %>
      <br/>
  <% end %>
</div>
