<h2>Currently available chatrooms:</h2>

<table>
  <thead>
  <tr>
    <th>Chatroom name:</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @chatrooms.each do |chatroom| %>
      <tr>
        <td>
          <p>
            <%= chatroom.title %>
          </p>
        </td>

        <td><%= link_to 'Join', chatroom %></td>

        <td><%= link_to 'Remove chatroom', chatroom, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>

<br/>
<br/>
<br/>
<br/>

<h2>Pick your topic of interest:
</h2>

<br/>
<br/>

<div id="topics">
  <% @topics.each do |topic| %>
      <% taker_users_available_string = users_available_for(topic.sessions, Topic::GIVER_SESSION_TYPE) ? '(Users are available!)' : ''%>
      <% giver_users_available_string = users_available_for(topic.sessions, Topic::TAKER_SESSION_TYPE) ? '(Users are available!)' : ''%>
      <%= topic.name %> <%= link_to 'teach', new_taker_path(topic) %> <%= taker_users_available_string %> or <%= link_to 'learn', new_giver_path(topic) %> <%= giver_users_available_string %>
      <br/>
  <% end %>
</div>
