<p>
  Title: <%= @chatroom.title %>
</p>

<p>
  Description: <%= @chatroom.description %>
</p>

<p>
  Chat area
</p>


<div id="chat">
  <%= render(@messages) %>
  Currently connected users: <%= @users %>
</div>

<p>
  <%= form_for([@chatroom, @chatroom.messages.build], remote: true) do |f| %>
      <%= f.text_field :content, id: 'new_message' %>
      <%= f.submit 'Send' %>
  <% end %>
</p>

<p style="visibility: hidden">
  <%= form_for(Heartbeat.new, remote: true, html: {id: 'heartbeat'}) do |f| %>
      <%= f.submit 'Send' %>
  <% end %>
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#heartbeat").submit();
    });
</script>

<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>

<%= subscribe_to '/messages/new/' + @chatroom.id.to_s %>

<%= subscribe_to '/user/unsubscribe' %>
<!--todo find a way to reference the chatting users id here-->
