<p>
  Title: <%= @chatroom.title %>
</p>

<p>
  Description: <%= @chatroom.description %>
</p>

<p>
    <p>
      Chat area
    </p>


    <p>
      <div style="width: 500px; height: 300px; border: solid black; overflow: auto" id="chat">
        <%=  render(@chatroom.messages) %>
      </div>
    </p>
</p>

<p>
  <%= form_for([@chatroom, @chatroom.messages.build], remote: true) do |f| %>
      <%= f.text_field :content, id: 'new_message' %>
      <%= f.submit 'Send' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>

<%= subscribe_to '/messages/new/' + @chatroom.id.to_s %>
